<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>some website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/skeleton.css" />
</head>

<body>
    <form action="/" method="POST">

        <div class="row">
            <div class="two columns">
                <label for="repeat">repeat:</label>
                <select class="one-third" id="repeat" name="repeat">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="10">10</option>
                    <option value="100">100</option>
                    <option value="1000" selected="selected">1000</option>
                    <option value="10000">10,000</option>
                </select>
            </div>
            <div class="two columns">
                <label for="minpb">Min PB</label>
                <select class="one-third" name="minpb" id="minpb">
                    <option value="0">None</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                </select>
            </div>
            <div class="two columns">
                <label for="maxpb">Max PB</label>
                <select class="one-third" id="maxpb" name="maxpb">
                    <option value="99">None</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                </select>
            </div>
        </div>
        <br>

        <button>Roll for Attributes</button>
    </form>
    <p>
        <b>PB costs: </b>{{pb}}</p>

    <hr> 

    <h5>Results</h5>
       <p>
        <b>Total rolls:</b> {{rollsTotal}} ({{rollsOutsideRange}}% thrown out)
        <br>
        {{#each stats}}
        <b>Total results:</b> {{total}}
        <br>
        <b>PB Avg:</b> {{pbAvg}}
        <br>
        <b>NA count:</b> {{naCount}} (contain attributes without PB values)
        {{/each}}
    </p>
    <table>
        <tr>
            <th>PB total</th>
            <th colspan="6">Attributes</th>
        </tr>
        {{#each result}}
        <tr>
            <td>
                <b>{{total}}</b>
            </td>
            {{#each roll}}
            <td>{{this}}</td>
            {{/each}}
        </tr>
        {{/each}}
    </table>
</body>

</html>