<!DOCTYPE <!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>some website</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/skeleton.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/style.css" />
</head>

<body>
    <form action="/" method="POST">

        <div class="row">
            <div class="one columns">
                <label for="repeat">Repeat:</label>
                <select class="one-third" id="repeat" name="repeat">
                    {{#select prepop.repeat}}
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="10">10</option>
                    <option value="100">100</option>
                    <option value="1000">1000</option>
                    <option value="10000">10,000</option>
                    {{/select}}
                </select>
            </div>
            <div class="one columns">
                <label for="minpb">Min PB</label>
                <select class="one-third" name="minpb" id="minpb">
                    {{#select prepop.minpb}}
                    <option value="0">None</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    {{/select}}
                </select>
            </div>
            <div class="one columns">
                <label for="maxpb">Max PB</label>
                <select class="one-third" id="maxpb" name="maxpb">
                    {{#select prepop.maxpb}}
                    <option value="99">None</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                    <option value="32">32</option>
                    <option value="33">33</option>
                    <option value="34">34</option>
                    {{/select}}
                </select>
            </div>
            <div class="one columns">
                <label for="minattr">Min Attr</label>
                <select class="one-third" id="minattr" name="minattr">
                    {{#select prepop.minattr}}
                    <option value="0">None</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    {{/select}}
                </select>
            </div>
            <div class="one columns">
                <label for="maxattr">Max Attr</label>
                <select class="one-third" id="maxattr" name="maxattr">
                    {{#select prepop.maxattr}}
                    <option value="99">None</option>
                    <option value="17">17</option>
                    <option value="16">16</option>
                    <option value="15">15</option>
                    <option value="14">14</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <br>

        <button>Roll for Attributes</button>
    </form>
    <p>
        <h5>PB costs</h5>
        <table class="numbers">
            <tr>
                <th>Attribute</th>
                {{#each pbCostList}}
                <td>{{@key}}</td> {{/each}}
            </tr>
            <tr>
                <th>Cost</th>
                {{#each pbCostList}}
                <td> {{this}}</td> {{/each}}
            </tr>
        </table>
    </p>

    <h5>Stats</h5>
    {{#each stats}}
    <p>
        <b>Total rolls:</b> {{rollsTotal}} ({{rollsOutsideRange}}% thrown out)
        <br>
        <b>Total results:</b> {{total}}
        <br>
        <b>PB:</b> Avg: {{pbAvg}}, Min: {{pbMin}}, Max: {{pbMax}}
        <br>
        <b>NA count:</b> {{naCount}} (contain attributes without PB values)
        <br>
        <table class="numbers">
            <tr>
                <th>Min attribute</th>
                {{#each minAttributes}}
                <td>{{@key}}</td> {{/each}}
            </tr>
            <tr>
                <th>Count</th>
                {{#each minAttributes}}
                <td>
                    <nobr> {{this.percent}}%
                        <span class="grey">({{this.count}})</span>
                    </nobr>
                </td> {{/each}}
            </tr>
        </table>
        <table class="numbers">
            <tr>
                <th>Max attribute</th>
                {{#each maxAttributes}}
                <td>{{@key}}</td> {{/each}}
            </tr>
            <tr>
                <th>Count</th>
                {{#each maxAttributes}}
                <td>
                    <nobr>{{this.percent}}%
                        <span class="grey">({{this.count}})</nobr>
                    </span>
                </td> {{/each}}
            </tr>
        </table>
    </p>
    {{/each}}

    <h5>Attributes</h5>
    <table>
        <thead>
            <tr>
                <th>PB total</th>
                <th colspan="6">Attributes</th>
                <th>1d6 Rolls</th>
            </tr>
        </thead>
        <tbody>
            {{#each result}}
            <tr>
                <td>
                    {{pbTotal}}
                </td>
                {{#each attributes}}
                <td class="attribute">
                    <strong>{{this}}</strong>
                </td>
                {{/each}}
                <td>
                    {{#each all_rolls}} ({{#each this}}{{this.roll}}{{#unless @last}}, {{/unless}}{{/each}}){{#unless @last}}, {{/unless}} {{/each}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</body>

</html>